body {
    background-color: #fa242415;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 5rem;
    background-color: #fa7a2415;
    padding: 1rem 0;
    color: rgb(20, 20, 20);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    min-height: 44rem;  
    margin: 0 !important;
}
.footer-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    min-height: 10rem;
    background-color: #fa7a2415;
    color: rgb(20, 20, 20);
}
.menu-wrapper > * {
    margin: 1rem 4rem;
}
.card {
    min-height: 25%;  
    transition: all .5s ease-out;
    box-shadow: 8px 11px 13px -9px rgba(66, 68, 90, 1);
}
.card:hover {
    transform: scale(1.1);
}
.card-body {
    display: flex;
    flex-direction: column;
    min-height: 8rem;
}
.card-img-top {
    padding: 0.5rem;
    height: 12rem;
}
.btn {
    margin-bottom: 1rem;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.footer-title-wrapper {
    margin-top: 1rem;
}
.authors-row {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 80%;
    color: rgb(20, 20, 20);
}
.authors-row > * {
    max-width: 15rem;
}


.sos-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem 0 2rem;
}
.map-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem 0 2rem;
}
.map-box {
    width: clamp(25rem,70vw,70rem);
    height: 30rem;
    margin: 1rem 0;
    background-color: rgb(211, 211, 211);
}
.btn-wrapper {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.map-btn {
    margin-top: 1.5rem;
    width: 15rem;
}
.img-vib {
    max-width: 300px;
}